/* src/pages/Auth.css */
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.auth-container h2 {
    margin-bottom: 20px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.auth-container input,
.auth-container select {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-container button {
    padding: 10px;
    background-color: #4e4eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #3b3bff;
}